body{
	background-color: lightpink;
}

h1{
	color: brown;
	font-size: 90px;
	text-decoration: underline;
}

h2{
	font-size: 20px;
	color: yellow;

	font-size: 20px;
	color: yellow;

}

#first{
	font-size: 150px;
	}

.small{
	font-size: 12px;
}

span{
	font-style: italic;
}

h2 span{
	text-decoration: line-through; 
}
